@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav flex-grow-1">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Index">Pacijenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ListAll">Osoblje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="Index">Prijemi</a>
            </li>

        }
        else
        {

        }
    </ul>
