@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:25vh">
    <h1 class="display-4">Dobrodošli</h1>
    <p>Aplikacija namijenjena osoblju klinike.</p>
    <h1>BERG</h1>
</div>
